.header{
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
}
.body{
  margin:auto;
}
.paragraph{
  font-family: sans-serif;
  margin:auto;
  width: 1250px;
  padding: 20px;
}
#map{
  width: 50%;
  margin: auto;
}
